.about__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about__container-body {
  display: flex;
  width: 100%;
  background: #99578C;
  align-items: center;
  color: #FFFFFF;
  font-family: forma-djr-text, sans-serif;
  font-style: italic;
}
.about__container-body_left {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-inline: auto;
  margin-top: 110px;
  margin-bottom: 340px;
}
.about__container-body_left > h2 {
  font-size: 36px;
  max-width: 1270px;
  width: 100%;
  margin-inline: auto;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.about__container-body_left > p {
  max-width: 1229px;
  margin-inline: auto;
  width: 100%;
  font-family: forma-djr-text, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;

}
@media screen and (max-width: 850px) {
  .about__container-body_left {
    margin-top: 40px;
    margin-bottom: 75px;
  }
}