.workscomp__container {
  display: flex;
  width: 100%;
  wrap: nowrap;
  position: relative;
}
.workscomp__container-images {
  position: relative;
  opacity: 1;
  cursor: pointer;
}
.workscomp__container-images:hover{
  scale: 1.01;
}

.workscomp__container-images > img {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .workscomp__container {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .workscomp__container-images > img {
    width: 850px;
    width: 100%;
    display: flex;
  }
}