.styling-container {
  border: 1px solid #A0E3EA;
  width: 100%;
}
.styling__container {
  display: flex;
  width: 95%;
  margin-inline: auto;
  margin-top: 80px;
  gap: 7px;
  flex-wrap: nowrap;
}
.styling__container.hide {
  display: none;
}
.styling__container-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 40px;
  margin-bottom: 30px;
}
.styling__container-right_card {
  width: 280px;
  height: 350px;
}
.styling__container-footer {
  display: none;
}
.styling__gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.styling__gallery.hide {
  display: none;
}
.styling__gallery-nav {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  margin-inline: auto;
}
.styling__gallery-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.styling__gallery-body_row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.styling__gallery-body_card.purple {
  display: flex;
  width: 100%;
  background: #99578C;
}
.styling__gallery-body_card.green {
  display: flex;
  width: 100%;
  background: #A0E3EA;
}
.styling__gallery-body_card-row.purple {
  display: flex;
  width: 50%;
  background: #99578C;
}
.styling__gallery-body_card-row.green {
  display: flex;
  width: 50%;
  background: #A0E3EA;
}
.styling__gallery-card {
  width: 90%;
  margin-inline: auto;
  padding: 30px;
}
.top__gallery-section_img {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 80px;
}
.top__gallery-section_img > img {
  width: 70%;
  margin-inline: auto;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .styling__container {
    flex-direction: column;
    margin-top: 0px;
    gap: 10px;
  }
  .styling__container-footer {
    display: block;
    margin-top: 50px;
  }
}