.styling-container {
  border:
  width: 100%;
}
.styling-container-navbar {
  border-bottom:  1px solid #A0E3EA;
}
.styling__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-inline: auto;
  /* margin-top: 80px; */
  gap: 30px;
  flex-wrap: nowrap;
}
.styling__container-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
  gap: 40px 40px;
  margin-bottom: 30px;
}
.styling__container-right_card {
  max-width: 270px;
  width: 30%;
  max-height: 350px;
}
.styling__container-footer {
  display: none;
}

@media screen and (max-width: 850px) {
  .styling__container {
    flex-direction: column;
    margin-top: 0px;
    gap: 10px;
  }
  .styling__container-left {
    width: 100%;
  }
  .styling__container-footer {
    display: block;
    margin-top: 50px;
  }
  .styling__container-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: auto;
    gap: 40px 40px;
    margin-bottom: 30px;
    margin-top: 10px;
    
  }
}
@media screen and (max-width: 450px) {
  .styling__container-right_card {
    width: 100%;
  }
  .styling__container-right {
    width: 100%;
  }
}