.photography-container {
  border-top: 1px solid #A0E3EA;
  width: 100%;
}
.photography__container {
  display: flex;
  width: 95%;
  margin-inline: auto;
  margin-top: 80px;
  gap: 6px;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}
.photography__container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  margin-inline: auto;
  width: 60%;
}
.photography__container-right > img {
  width: 100%;
}
.photography__container-right > p {
  width: 70%;
  font-family: forma-djr-text, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
  color: #A0E3EA;
  margin: 50px 0;
}
.photography__container-footer {
  display: none;
}
.photography__gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
}
.photography__gallery-nav {
  display: flex;
  align-items: center;
  width: 90%;
  margin-inline: auto;
  justify-content: space-between;
}
.photography__gallery-image1 {
  display: flex;
  margin-inline: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.photography__gallery-image1 > img {
  width: 90%;
  margin-inline: auto;
  padding: 20px;
}
.photography__gallery-image1.purple {
  background: #99578C;
}
.photography__gallery-image1.green {
  background: #A0E3EA;
}
.photography-container.hide {
  display: none;
}
.photgraphy__gallery-image1_row {
  display: flex;
  margin-inline: auto;
  width: 50%;
  justify-content: center;
}
.photgraphy__gallery-image1_row.purple {
  background: #99578C;
}
.photgraphy__gallery-image1_row.green {
  background: #A0E3EA;
}
.photgraphy__gallery-image1_row > img {
  width: 80%;
  padding: 40px;
}
.photgraphy__gallery-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 850px) {
  .photography__container {
    flex-direction: column;
    margin-top: 0;
  }
  .photography__container-right {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .photography__container-right > img {
    width: 100%;
  }
  .photography__container-footer {
    display: block;
    margin-top: 50px;
  }
}